.search-result-item {
    padding: 1rem;
    overflow: hidden;
    border-bottom: 1px solid lightgray;
}

.search-result-item:last-of-type{
    border-bottom: none !important;
}

.search-result-header {
    display: flex;
    flex: 1 1;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.search-result-desc {
    text-overflow: ellipsis;
    font-size: 1.25;
    color: gray;
    margin-bottom: 0.5rem;
}

.search-result-keyword-container {
    flex-wrap: wrap;
    margin: 1rem 0rem;
}

.search-result-keyword {
    padding: 0.25rem;
    border-radius: 5px;
    background: lightgray;
    margin-right: 0.25rem;
    user-select: none;
    cursor: pointer;
    transition: 0.15s all ease-in-out;
}

.search-result-keyword:hover {
    background-color: steelblue;
    color: white;
    transition: 0.15s all ease-in-out;
}

a {
    color: steelblue;
    margin-right: 0.5rem;
}