.header {
    display: flex;
    flex: 1 1;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem 1rem;
    background: steelblue;
    color: white;
}

.debug {
    display: flex;
    flex-direction: row;
}

.debug-label, .debug-control {
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.debug-label {
    font-weight: strong;
    padding-right: 0.5rem;
}

.search-container {
    background-color: lightgray ;
    padding: 1rem;
}

.search-tools-container {
    padding: 1rem;
    font-size: 0.75rem;
}

.search-result-publisher-name {
    font-weight: bold;
    color: steelblue;
    padding-right: 0.5rem;
}

.search-result-version {
    color: gray;
    margin-left: 0.5rem;
}